@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.Hello {
    display: flex;
    flex-direction: column;
}

.Hello_main {
    display: flex;
    min-height: 81vh;
    margin-top: 10px;
}

.Hello_main_left {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70vw;
}

.Hello_main_right {
    display: flex;
    flex-direction: column;
    font-family: "Inconsolata", monospace;
    font-weight: 700;

}

.Hello_main_left_numbers {
    color: #606060;
    width: 12vw;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Hello_main_left_lines {
    width: 10vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-left: 20px;
}

.Hello_main_left_lines > div {
    background-color: #606060;
    width: 10px;
    margin: 0 5px;
    border-radius: 10px;
}

.Hello_main_left_lines > div:nth-child(1) {
    height: 60vh;
}

.Hello_main_left_lines > div:nth-child(2) {
    height: 45vh;
}

.Hello_main_left_lines > div:nth-child(3) {
    height: 35vh;
}


.Hello_main_left_text {
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hello_main_right_text {
    color: #a5c15a;
    display: flex;
    font-size: 10rem;
    height: auto;
    justify-content: flex-start;
    padding-top: 10vh;
}

.Hello_main_right_subtext {

    display: flex;
    flex-direction: row;
    font-size: 3rem;
    color: #ffffff;
}

.Hello_main_right_subtext > span {
    letter-spacing: 0.4em;
}

.Hello_main_right_typing {
    font-size: 2.5rem;
    max-height: 10vh;
    color: #8f5d99;
}

.tag {
    color: #4CAF50;
}

/* Green color for HTML tags */
.attribute {
    color: #e53935;
}

/* Red color for HTML attributes */
.string {
    color: #6200ea;
}

/* Purple color for strings */
.keyword {
    color: #1565c0;
}

/* Blue color for keywords */
.comment {
    color: #757575;
}

@media screen and (max-width: 768px) {
    .Hello_main {
        flex-direction: column;
        /*margin-top: 20vh;*/
    }

    .Hello_main_left_lines {
        display: none;
    }

    .Hello_main_left_text {
        margin-left: 50px;
    }

    .Hello_main_left {

        width: 100vw;
    }

    .Hello_main_right {
        height: auto; /* Allow it to take its natural height */
        padding-bottom: 5vh;
    }

    .Hello_main_right_text {
        font-size: 5rem;
        justify-content: center;
        padding-top: 10px;
    }

    .Hello_main_right_subtext {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        color: #ffffff;
        text-align: center;
        justify-content: center;

    }

    .Hello_main_right_subtext > span {
        letter-spacing: 0;
    }

    .Hello_main_right_typing {
        font-size: 1rem;
        color: #8f5d99;
        text-align: center;

    }

}
