* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
}

.App {
    background-color: #282c34;
    font-family: "SF Pro Display", serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
    /*overflow: hidden;*/
}

.top {
    flex: 1;
}

.bottom {
    margin-top: auto;
}